<p id="notice"><%= notice %></p>

<p>
  <strong>Ttitle:</strong>
  <%= @list.ttitle %>
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Done</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @list.items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.done %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
