<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Done:</strong>
  <%= @item.done %>
</p>

<p>
  <strong>List:</strong>
  <%= @item.list.ttitle %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
